<div class="row">
    <div class="col-md-12">
        <h1 ng-bind="title" style="padding:20px"></h1>
        <p>Labb 5 Kundvagn</p>
    </div>
</div>

<!-- Bootstrap Carousel -->
<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!--Img 1-->
                <img src="../Image/Banner2_bf.jpg" />
                <div class="carousel-caption">
                    <h3>Samsung Gear 2</h3>
                    <p>Samsung Gear 2</p>
                </div>
            </div>

            <div class="item">
                <!--Img 2-->
                <img src="../Image/laptop 3.jpg" />
                <div class="carousel-caption">
                    <h3>Laptop</h3>
                    <p>Laptop</p>
                </div>
            </div>

            <div class="item">
                <!--Img 3-->
                <img src="../Image/led tv.jpg" />
                <div class="carousel-caption">
                    <h3>Led Tv</h3>
                    <p>Led Tv</p>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>

</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.
            </div>
            <div class="col-md-6">
                Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.
            </div>
        </div>
    </div>
</div>